/*----MAIN----*/
html,
body {
	width: 100%;
	margin: 0;
	padding: 0;
}

html {
	overflow-y: scroll;
	}
	
html.mobile {
	display: table;
    }

a {
    color: grey; 
    text-decoration: none;
    }

a:hover {
    color: rgb(12 51 136);
    text-decoration: underline;
    }

h2 {
    font-size: 22px; 
    letter-spacing: 0.05em; 
    line-height: 1em; 
    color: #000; 
    font-weight: normal;
}

p {
    display: block;
    font-size: 14px;
    letter-spacing: 0.05em; 
    line-height: 2em;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    max-width: 900px;
}

html, body {
    font: 14px/18px;
    font-family: "roboto slab", "Noto Serif TC", "times", serif;
    font-weight: normal;
    text-align: left;
    background: #fff;
    color: #000;
    -webkit-touch-callout:none;
    -webkit-tap-highlight-color: #ddd;
    -webkit-text-size-adjust:100%;
    -webkit-font-smoothing:antialiased;
    -moz-font-smoothing:antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering:optimizeLegibility;
    min-height: 100%;
    }

ol, ul {
    list-style: none;
}

#loading {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 100001;
    background-size: cover;
    background-color: #fff;
    min-height: 100vh;
    min-width: 100vw;
    top: 0;
    left:0;
    right: 0;
    bottom:0;
    overflow: hidden;
  }

#loading .square{
    height: 8vh;
    width: 8vw;
    background-color: grey;
    -webkit-animation: flickerAnimation 1s infinite;
    -moz-animation: flickerAnimation 1s infinite;
    -o-animation: flickerAnimation 1s infinite;
     animation: flickerAnimation 1s infinite;
    }

@keyframes flickerAnimation {
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
 @-o-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
@-moz-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }

@-webkit-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }

/*----MENU----*/
.menu {
	padding: 0;
    z-index: 1001;
}

h1.title {
	position: fixed;
	top: 10px;
	right: 10px;
	width: 150px;
	height: 220px;
    z-index: 1001;
	}
	
h1.title a {
	display: block;
    overflow: hidden;
    height: 30vh;
    min-width: 40%;
    min-height: 40%;
	background-image: url(https://damon-tsh.github.io/damon.io/img/title.svg);
	background-repeat: no-repeat;
	outline: none;
    text-decoration: none;
    }

h1.title a:hover {
    filter:  saturate(1700%) hue-rotate(255deg);
}

@media only screen and (max-width: 768px) {
h1.title {
	right: 5px;
	width: 100px;
	}
}

@media only screen and (max-width: 768px) {
h1.title a {
    height: 20vh;
    }
}


header #menu .menu{
        position: fixed;
        margin: 30px;
        letter-spacing: 0.2em;
        bottom: 5vh;
        right: 40px;
        mix-blend-mode: difference;
      }

header #menu .menu li{
        display: inline-block;
        letter-spacing: normal;
        margin: 0 30px;
        margin-right: 0px;
      }

header #menu .menu li a{
        color: #fff;
        font-size: 3vmin;
        letter-spacing: 0.05em;
        font-weight: 800;
        position: relative;
        text-decoration: none;
      }

@media screen and (min-height: 900px) {
    header #menu .menu li a{
            font-size: 25px;
        }
    }
        
header #menu .menu li a:hover {
        color: grey; 
        }

header #menu .index{
        position: fixed;
        margin: 30px;
        letter-spacing: 0.2em;
        bottom: 5vh; 
        right: 40px;
        z-index: 1001;
        }
    
header #menu .index li{
        display: inline-block;
        letter-spacing: normal;
        margin: 0 30px;
        margin-right: 0px;
        }
    
header #menu .index li a{
        color: #000;
        font-size: 3vmin;
        letter-spacing: 0.05em;
        font-weight: 800;
        position: relative;
        text-decoration: none;
        }
    
header #menu .index li a:hover {
        color: grey; 
        }

@media screen and (min-height: 900px) {
header #menu .index li a{
        font-size: 25px;
    }
}

/*----CENTER&FOOTER----*/

.container {
    width: 100%;
    height: 100% ;
    position: relative;
    height: auto !important;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #fff;
    z-index: 100; 
}

.container .mainvisual {
    top: 50%;
    left: 50%;
    min-width: 80%;
    height: auto;
    transform: translate(-50%, -50%);
    position: fixed;
    background-color: #fff;
    z-index: 100; 
}

.container .mainvisual video {
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 5%;
    margin-left: auto; 
    margin-right: auto;
}

@media only screen and (max-width: 768px) and (orientation: portrait) {
    .container .mainvisual video  {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    }
}


footer {
    display: block;
    position: absolute;
    z-index: 101;
    text-align: left;
    left: 50px;
    height: 40px;
    top: 10px;
    width: 250px;
}
footer p{
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 10px;
}

/*----PAGES----*/

.container .info {
    margin: 50px; 
    padding-top: 30px;
    padding-bottom: 60px;
    padding-left: 10px;
    padding-right: 50px;
    position: relative;
    height: 100%;
}

.container .info .contact {
    display: block;
    margin-bottom: 150pt;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

@media only screen and (max-width: 768px) {
    .container .info .contact {
        width: 80%;
}
}

.container .info .contact a{
    color: grey; 
    font-size: 15px;
    letter-spacing: 0.05em;
    font-weight: 800;
    position: relative;
    text-decoration: none;
  }

.container .info .contact a:hover {
    color: rgb(12 51 136);
    text-decoration: underline;
}


.container .info .about {
    display: block;
    margin-bottom: 150pt;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    margin-right: 80px;
}

@media only screen and (max-width: 768px) {
    .container .info .about {
        margin-right: 5vw;
        }
    }

.container .info .works {
    display: block;
    margin-bottom: 40pt;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    margin-right: 80px;
    height: 100%;
}

@media only screen and (max-width: 768px) {
    .container .info .works {
        margin-right: 0;
        }
    }
    

.container .info .works figure {
    display: inline-block;
    max-width: 100%;
    height: auto;
    margin-left: 5px;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    vertical-align: top;
}

.container .info .works img.link {
    display: inline-block;
    max-width: 100%;
    height: auto;
}

.container .info .works img.link:hover {
    filter: none;
    -webkit-filter: grayscale(1);
    -webkit-transform: scale(1.01);
    }

.container .info .works figcaption {
    font-size: 8px;
    font-weight: normal;
    text-align: center;
    max-width: 100%;
    word-wrap: break-word;
    max-width: 200px;
}


ul.role {
   list-style-type: circle;
   font-size: 10px;
   letter-spacing: 0.05em; 
   line-height: 2em; 
   margin: auto;
}

.container .info .works img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-top: 8px;
    margin-bottom: 8px;
}

.container .info .works .videowrapper {
    position: relative;
    max-width: 850px;
    max-height: 800px;
    min-width: 300px;
    min-height: 200px;
  }

  .container .info .works .videowrapper iframe {
    position: relative;
    display: block;
    top: 0;
    left: 0;
    width: 75%;
    max-width: 850px;
    max-height: 800px;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .container .info .works hr.video {
    border-top: 1.5px dotted rgb(12 51 136);
    max-width: 850px;
    max-height: 750px;
    margin: 0px 0px;
  }
